<div class="navbar-wrapper">
	<div class="navbar-logo">
		<a class="mobile-menu" id="mobile-collapse" href="#!">
			<i class="ti-menu"></i>
		</a>
		<a href="index.php">
			<!-- 左上角logo -->
			<img class="img-fluid" src="resource/logo-white-new.png" alt="Our-Logo" style="max-width:200px;"/>
		</a>
		<a class="mobile-options">
			<i class="ti-more"></i>
		</a>
	</div>

	<div class="navbar-container container-fluid">
		<!-- . . . header left content hear . . .  -->
		<ul class="nav-left">
			<li>
				<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
			</li>

			<li>
				<a href="#!" onclick="javascript:toggleFullScreen()">
					<i class="ti-fullscreen"></i>
				</a>
			</li>
		</ul>
		<!-- 右上角顯示登入 start -->
		<ul class="nav-right">
			<li class="user-profile header-notification">
				<phpcontent>
			</li>
		</ul>
		<!-- 右上角顯示登入 end -->
	</div>
</div>
